.button {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;

    padding: 0.5rem;
    margin-top: 1rem;
    width: 10%;

    border: none;
    border-radius: 10px;

    font-weight: 900;

    background-color: var(--fill-primary);
    cursor: pointer;

    box-shadow: 0 4px 12px white;
    color: white;
}

.button:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}

.button:active {
    transform: translateY(-1px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 1rem;
}

.arrow {
    width: 30px;
    height: 30px;
    padding-right: 0.25rem;
}

.back {
    background-color: transparent;
    border: 2px solid var(--fill-primary);
    color: var(--text-primary);
    width: 5%;
}

.unactive {
    background-color: var(--text-secondary);
    pointer-events: none;
}

