header {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

    padding-top: 2rem;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    padding-left: 2rem;
}
.text > img {
    width: 50px;
    height: 50px;
}

.text > h1 {
    text-align: center;
    margin: 0;
}

.progress {
   display: flex;
   flex-direction: column;
   align-items: end;

    padding-right: 2rem;
}

.bars {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.progress > h3 {
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--text-secondary);
    padding-top: 1rem;
}