.Input {
    display: flex;
    flex-direction: column;
}

.Input > label {
    color: var(--text-secondary);

    font-size: 1rem;
    padding-bottom: 0.25rem;
}

.Input > input {
    padding: 0.5rem;
    background-color: transparent;

    border: 1px solid var(--border-strong);
    border-radius: 8px;
    font-size: 1rem;
    color: var(--text-primary)
}

.Input > input:focus {
    border: 2px solid var(--fill-primary);
    outline: var(--fill-primary);
}

.error {
    color: var(--danger);
    font-size: 1rem;
    font-weight: 400;

    margin-top: 0.5rem;
}